.shirt-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
  }
  
  .shirt-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .shirt-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .shirt-card img:hover {
    transform: scale(1.1);
  }
  
  .shirt-card h2 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
    color: #333;
    font-weight: bold;
  }
  
  .shirt-card p {
    margin: 0.5rem 0;
    color: #666;
  }
  