.carrusel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto; /* Ajustado a auto para adaptarse dinámicamente al contenido */
    min-height: 400px; /* Tamaño mínimo para asegurar visibilidad */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; /* Asegura que ocupe todo el ancho del carrusel */
}

.slide {
    flex: 0 0 100%; /* Ocupa el 100% del ancho del carrusel */
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide.active {
    opacity: 1;
}
